.layout {
  margin-top: 6rem;
  max-width: 42rem;
  margin: 0 auto;
  padding: 2.625rem 1.3125rem;
}

.layout__subtitle {
  color: var(--color-text-tertiary);
}

.layout__linkback {
  color: inherit;
}
