.sociallinks {
  display: flex;
  justify-content: space-around;
  max-width: 100px;
  margin: 0 auto;

  a {
    color: var(--pallete-text-primary);
  }

  a:hover {
    opacity: 0.6;
  }

  svg {
    fill: currentColor;
    height: 1rem;
    width: 1rem;
  }
}
