.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
  color: inherit;
}
