.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
  color: var(--color-text-primary);
}
